<div class="wrapper mat-elevation-z1">
  <!-- Hero image-->
  <img
    class="hero-image"
    src="assets/images/login-hero.jpg"
    alt="Image of plant sprouting"
    width="400"
    height="500"
  />

  <!-- Login form content -->
  <div class="form-content-wrapper">
    <h1 class="header-one login-header">Login</h1>
    <form class="poppins form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <mat-form-field class="poppins" [appearance]="'outline'">
        <div class="form-control-icon" matPrefix>
          <mat-icon>email</mat-icon>
          |
        </div>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="poppins" [appearance]="'outline'">
        <div class="form-control-icon" matPrefix>
          <mat-icon>lock</mat-icon> |
        </div>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <!-- Error message -->
      <small class="error" *ngIf="isInvalidCredentials">
        Invalid email or password
      </small>

      <!-- Submit button -->
      <button
        class="btn btn-primary btn-submit"
        mat-raised-button
        color="primary"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>
  </div>
</div>
