:host {
  display: grid;
  min-height: 100vh;
  place-content: center stretch;
  padding: 1rem;
  background: url(../../../assets/images/login-hero.jpg) no-repeat center
    center/cover var(--sea-salt);
  @media (min-width: 768px) {
    background-image: none;
    place-content: center;
  }
}

.wrapper {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  overflow: hidden;
  background: white;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-content-wrapper {
  padding: 2rem;
  align-self: center;
}

.hero-image {
  object-fit: cover;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.login-header {
  text-align: center;
}

.error {
  display: block;
  align-self: start;
}

.form {
  display: flex;
  flex-direction: column;
}

.btn-submit {
  margin-top: 1.5rem;
  padding-block: 1.5rem !important;
  font-size: 16px;
}

.btn-submit:disabled {
  background-color: lighten($color: #433bff, $amount: 10);
  color: white;
}
