.card {
  display: grid;
}

.table-wrapper {
  overflow: auto;
}

.table {
  width: 100%;
  min-width: 800px;
}

.filter {
  display: inline-block;
  margin-left: auto;
}

mat-option,
mat-paginator,
mat-header-cell,
mat-cell {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}

mat-header-cell,
mat-cell {
  padding: 1rem;
  display: grid;
  place-content: start;
}

mat-cell {
  place-content: center start;
}

mat-header-cell {
  font-weight: 600;
}

:is(button:hover, button:focus) .icon {
  color: var(--cornflower-blue) !important;
}
