:host {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.dashboard-header {
  padding: 0.5rem 1rem;
  background: white;
  display: flex;
  align-items: last baseline;
  gap: 1rem;
  position: sticky;
  z-index: 2;
}

.menu-toggle {
  position: relative;
  top: 0.3rem;
}
.dashboard-body {
  position: relative;
}

.mat-side-nav-container {
  position: absolute;
  inset: 0;
}

.mat-side-nav {
  padding-block: 2rem;
  background: var(--sea-salt);
}

.nav-list {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.nav-link {
  padding: 0.5rem 1rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-decoration: none;

  .nav-icon {
    color: var(--cadet-gray);
  }

  &:hover {
    background: var(--platinum);
  }

  &.active {
    background: var(--cornflower-blue);
    color: var(--white);

    .nav-icon {
      color: var(--white);
    }
  }
}

.dashboard-content {
  padding: 3rem 1rem;
  margin: auto;
  display: block;
  max-width: 1200px;
}
