<header class="dashboard-header mat-elevation-z1">
  <button class="menu-toggle" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="poppins header-one">Loan Origination System</h1>
</header>

<!-- Dashboard content -->
<div class="dashboard-body">
  <mat-sidenav-container class="mat-side-nav-container">
    <!-- Sidebar -->
    <mat-sidenav
      class="mat-side-nav"
      [mode]="screenWidth > 768 ? 'side' : 'over'"
      [opened]="screenWidth > 768"
      #sidenav="matSidenav"
    >
      <nav>
        <ul class="nav-list">
          <!-- Dashboard -->
          <li>
            <a
              class="nav-link"
              routerLink=""
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-icon class="nav-icon">{{
                isAdmin ? "file_copy" : "dashboard"
              }}</mat-icon>
              <span>{{ isAdmin ? "Loan Management" : "Dashboard" }}</span>
            </a>
          </li>

          <!-- Loan application -->
          <li *ngIf="!isAdmin">
            <a
              class="nav-link"
              routerLink="/apply-loan"
              routerLinkActive="active"
            >
              <mat-icon class="nav-icon">edit_document</mat-icon>
              <span>Apply for Loan</span>
            </a>
          </li>

          <!-- Profile -->
          <li>
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">
              <mat-icon class="nav-icon">person</mat-icon>
              <span>Profile</span>
            </a>
          </li>
          <!-- Logout -->
          <li>
            <a class="nav-link" routerLink="" (click)="logout()">
              <mat-icon class="nav-icon">exit_to_app</mat-icon>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </nav>
    </mat-sidenav>

    <!-- Page content -->
    <mat-sidenav-content>
      <div class="dashboard-content">
        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
