/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
}

:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dedcff;
  --accent: #433bff;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.error {
  color: red;
  font-size: 12px;
  text-align: center;
}
